environs >= 8.0, < 9
pylibmc >= 1.6, < 2
psycopg2 >= 2.8, < 3
boto3 >= 1.14, < 2
django >= 3.0, < 4
django-storages >= 1.9, < 2
channels >= 2.4, < 3
channels_redis >= 2.4, < 3
gunicorn >= 20.0, < 21
uvicorn >= 0.11, < 1
